<h1>Training Details </h1>

<p>
  <b>Name:</b>
  <%= @training.name %>
</p>

<p>
  <b>Description:</b>
  <%= @training.description %>
</p>

<p>
  <b>Level:</b>
  <%= @training.level %>
</p>

<p>
  <b>Next Offered:</b>
  <%= @training.next_offered.strftime("%B %d, %Y") %>
</p>



<div class="row-fluid">
  
  <div class="span6">

<p>              <%= render :partial => "current_departments" %> </p>

</div>  <div class="span6">
<p>              <%= render :partial => "current_volunteers" %> </p>
</div></div>
<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>

