<h1>Training Details </h1>

<p>
  <b>Name:</b>
  <%= @training.name %>
</p>

<p>
  <b>Description:</b>
  <%= @training.description %>
</p>

<p>
  <b>Level:</b>
  <%= @training.level %>
</p>

<p>
  <b>Next Offered:</b>
  <%= @training.next_offered.strftime("%B %d, %Y") %>
</p>



<div class="row-fluid">
  
  <div class="span6">

<p>              <%= render :partial => "current_departments" %> </p>
<p> 		<%= link_to raw("<i class='icon-plus icon-white'></i> Assign Department"), new_department_training_path(:id => @training.id, :from => 'training'), :class => 'btn btn-primary' %> </p>


</div>  <div class="span6">
<p>              <%= render :partial => "current_volunteers" %> </p>
<p> 		<%= link_to raw("<i class='icon-plus icon-white'></i> Assign Volunteer"), new_volunteer_training_path(:id => @training.id, :from => 'training'), :class => 'btn btn-primary' %> </p>

</div></div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-backward'></i> Back to trainings"),
              trainings_path, :class => 'btn'  %>
  <%= link_to raw("<i class='icon-edit'></i> Edit this training"),
              edit_training_path(@training), :class => 'btn' %>
  <%= link_to raw("<i class='icon-remove'></i> Destroy this training"),
              training_path(@training),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


