<%= simple_form_for(@volunteer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :barcode_number %>
    <%= f.input :household_id, :collection => get_households, :prompt => 'Choose Household' %>
    <%= f.input :is_male, :label => "Gender", :as => :radio_buttons, :collection => [["Male ",true], ["Female ",false]], :item_wrapper_class => 'inline' %> 
    <%= f.input :date_of_birth, :order => [:month, :day, :year], :start_year => Date.today.year, :end_year => Date.today.year - 90 %>
    <%= f.input :cell_phone %>
    <%= f.input :can_text %>
    <%= f.input :email %>
    <%= f.input :status %>
    <%= f.input :avatar, :label => 'Your photo please' %>
    <%= f.input :app_submit_date %>
    <%= f.input :app_approved %>
    <%= f.input :role %>
    <%= f.input :name_displayed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
