<div class="well black small">
  <div class="well-header">Add a household:</div>
  <div class="field">
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :street2 %>
    <%= f.input :city %>
    <%= f.input :zip %>
    <%= f.input :insurance_company %>
    <%= f.input :insurance_number %>
    <%= f.input :church %>
    <%= f.input :lat %>
    <%= f.input :lon %>
    <%= f.input :active %>
  </div>
  <%= f.button :button, 'Cancel', :type => 'reset', :class => 'btn' %>
</div>



