<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Barcode number</th>
    <th>Cell phone</th>
    <th>Email</th>
    <th>Application approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= link_to volunteer.name, volunteer %></td>
    <td><%= volunteer.barcode_number %></td>
    <td><% if volunteer.can_text == true %>
            <%= volunteer.cell_phone %>
            <%else%>NA
            <%end%></td>
    <td><%= volunteer.email %></td>
    <td><%= volunteer.app_approved %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
