<div class="row-fluid">
  <div class="span8">
    <div id="search">
    	<%= form_tag('/volunteers/search') do %>
    		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
    	<% end %>
    </div>
  </div>
  <div class="span4">
    <%= link_to raw("<i class='icon-plus'></i> <strong>Add volunteer</strong>"), new_volunteer_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>

<% if @query == 0 %>
  <%= render :partial => "normal-table" %>
<% else %>
  <%= render :partial => "query-table"%>  
<% end %>