

<div class="row-fluid">
  <div class="span8">
    <div id="search">
    	<%= form_tag('/volunteers/search') do %>
    		<strong>Quick Filter:</strong> <%= text_field_tag 'query' -%>
    	<% end %>
    </div>
  </div>
  <div class="span4">
    <%= link_to raw("<i class='icon-plus'></i> <strong>Add volunteer</strong>"), new_volunteer_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>

<% unless @pending_checks.empty? %>
  <div class="alert">
    <div class="low">
      <h3>Pending Checks</h3>
      <% @pending_checks.each do |volunteer_check| %>
          <br>
          <%= link_to volunteer_check.volunteer.name, volunteer_path(volunteer_check.volunteer) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= link_to volunteer_check.check.name, check_path(volunteer_check.check) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          Submitted On: <%=  volunteer_check.date_submitted.strftime("%B %d, %Y") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
    <% end %>
    </div>
  </div>
<% end %>



<% if @query == 0 %>
  <%= render :partial => "normal-table" %>
<% else %>
  <%= render :partial => "query-table"%>  
<% end %>