<%- model_class = Volunteer -%>

<h1><%= @volunteer.proper_name%>'s Profile</h1>

<div class="row-fluid">
  
  <div class="span6">
    <% if !@volunteer.avatar_file_name.blank? %>
        <div class="img-polaroid"><%= image_tag @volunteer.avatar.url(:medium) %></div>
      <% else %>
        <% if @volunteer.is_male %>
          <div class="img-polaroid"> <%= image_tag("male.jpg") %></div>&nbsp;&nbsp;
        <% else %>  
          <div class="img-polaroid"> <%= image_tag("female.jpg") %></div>&nbsp;&nbsp;
        <% end %>
    <% end %>
    
    <div class="volunteer-info">
        <dl class="dl-horizontal">
          <dt><strong>Name:</strong></dt> 
          <dd><%= @volunteer.proper_name %></dd> 
          <dt><strong>Date of Birth:</strong></dt>
          <dd><%= @volunteer.date_of_birth.strftime("%B %d, %Y") %></dd>          
          <% if !@volunteer.cell_phone.blank? %>
            <dt><strong><%= model_class.human_attribute_name(:cell_phone) %>:</strong></dt>
            <dd><% if @volunteer.can_text == true %>
                <%= @volunteer.cell_phone %>&nbsp;<i class='icon-phone'></i>
                <%else%><%= @volunteer.cell_phone %>
                <%end%></dd>
          <% end %>
          <% if !@volunteer.email.blank? %>
            <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
            <dd><%= mail_to @volunteer.email, @volunteer.email %></dd>
          <% end %>
          <dt><strong><%= model_class.human_attribute_name(:barcode_number) %>:</strong></dt>
          <dd><%= link_to @volunteer.barcode_number, volunteer_path(@volunteer.id, :format => 'pdf') %></dd> 
          <% if !@volunteer.household.nil? %>
            <dt><strong>Household:</strong></dt>
            <dd><%= link_to "#{@volunteer.household.name} Family", household_path(@volunteer.household.id) %> (<%= @volunteer.household.street %>) <a class="household-button" href=<%= household_path(@volunteer.household.id) %> ><i class="icon-home"></i> </a></dd>
          <% end %>
          <% if !@volunteer.spouse_id.nil? %>
            <dt><strong>Spouse:</strong></dt>
            <dd><%= link_to "Volunteer Profile", volunteer_path(@volunteer.spouse_id) %></a></dd>
          <% end %>
          <% if !@volunteer.student_id.nil? %>
            <dt><strong>Student Volunteer:</strong></dt>
            <dd><%= link_to "Student Profile", student_path(@volunteer.student_id) %></a></dd>
          <% end %>
          <% if !@volunteer.is_male.blank? %>
            <dt><strong>Gender:</strong></dt>
            <dd><%= @volunteer.is_male ? "Male" : "Female" %></dd>
          <% end %>
          <dt><strong>Status:</strong></dt>
          <dd><%= @volunteer.status %></dd>
          <dt><strong>Role:</strong></dt>
          <dd><%= @volunteer.role %></dd>
          <dt><strong>App Approved:</strong></dt>
          <dd><%= @volunteer.app_approved ? "Yes" : "No" %></dd>
          <% if !@volunteer.app_approved %>
            <dt><strong>App Submit Date:</strong></dt>
            <dd><%= @volunteer.app_submit_date.strftime("%B %d, %Y") %></dd>
          <% end %>
      </dl>
      <p><%= link_to raw("Back to volunteer"), volunteers_path, :class => 'btn'  %>
      &nbsp;
      <%= link_to raw("Edit this volunteer"), edit_volunteer_path(@volunteer), :class => 'btn' %>
      &nbsp;   
      <%= link_to raw("Generate barcode (PDF)"), volunteer_path(@volunteer.id, :format => 'pdf'), :class => 'btn' %>         
      <%= link_to raw("Remove volunteer"),volunteer_path(@volunteer),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to permanently delete this volunteer?')) },:class => 'btn btn-danger btn-med' %></p>
    </div>
    <div class="well">
      <h2>Volunteer Shifts</h2>
          <p><%= @shifts.size.zero? ? "No shifts yet" : pluralize(@shifts.size, 'shift') %> for this <%= "#{@volunteer.class.to_s.downcase}" %></p>
          <% unless @shifts.nil?||  @shifts.empty? %>

              <%= render :partial => "partials/shift_list" %>
		
          <% end %>


            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		  <li class="active"><a href="#red" data-toggle="tab">Upcoming</a></li>
		  <li><a href="#orange" data-toggle="tab">Past</a></li>
	      </ul>
	      <div id="my-tab-content" class="tab-content">
		  <div class="tab-pane active" id="red">
		      <% if @shifts.upcoming.empty? %> No upcoming shifts
		      <% else %>
                      <table>
                        <thead><tr><td>Date</td><td>Start time</td><td>End time</td></tr></thead>
                      <% for shift in @shifts.upcoming %>
                        <tr>
                          <td><%= shift.start_time.strftime("%b %d, %Y") %></td>
                          <td><%= shift.start_time.strftime("%I:%M %P") %></td>
                          <td><%= shift.end_time.strftime("%I:%M %P") %></td>
                        </tr>
                      <% end %>
                      </table><% end %>
		  </div>
		  <div class="tab-pane" id="orange">
		      <% if @shifts.past.empty? %> No past shifts
		      <% else %>
                      <table>
                        <thead><tr><td>Date</td><td>Start time</td><td>End time</td></tr></thead>
                      <% for shift in @shifts.past %>
                        <tr>
                          <td><%= shift.start_time.strftime("%b %d, %Y") %></td>
                          <td><%= shift.start_time.strftime("%I:%M %P") %></td>
                          <td><%= shift.end_time.strftime("%I:%M %P") %></td>
                        </tr>
                      <% end %>
                      </table><% end %>
		  </div>
                  
    </div>
    
        <div class="well">
      <h2>Volunteer Trainings</h2>
          <p><%= @volunteer.trainings.size.zero? ? "No trainings yet" : pluralize(@volunteer.trainings.size, 'training') %> for this <%= "#{@volunteer.class.to_s.downcase}" %></p>
          <% unless @trainings.nil?||  @trainings.empty? %>
              <%= render :partial => "partials/training_list" %>
          <% end %><br>
    <%= link_to raw("<i class='icon-plus'></i> <strong>Add Training to this Volunteer</strong>"), new_volunteer_training_path, :class => 'btn-small btn-success' %></br>
    </div>

    <div class="well">
      <h2>Volunteer Checks</h2>
          <p><%= @volunteer.checks.size.zero? ? "No checks yet" : pluralize(@volunteer.checks.size, 'check') %> for this <%= "#{@volunteer.class.to_s.downcase}" %></p>
          <% unless @checks.nil?||  @checks.empty? %>
              <%= render :partial => "partials/check_list" %>
          <% end %><br>
    <%= link_to raw("<i class='icon-plus'></i> <strong>Add Check to this Volunteer</strong>"), new_volunteer_check_path, :class => 'btn-small btn-success' %></br>


    </div></div>
    <div class="span6 pull-right">
    <%= render :partial => "partials/add_notes_to_page", :locals => {:obj => @volunteer} %>           
  </div></div>
	      </div>
  
</div>
