<div class="well">
  <h2>Add a shift</h2>
  
  <%= simple_form_for([@shiftable, Shift.new], :html => { :class => 'form-horizontal' }) do |f| %>
    <fieldset>
        <%= f.input :volunteer_id, :class => 'control-label' %>
        <%= f.input :start_time, :order => [:month, :day, :year, :hour, :minute], :default => @event.date %>
        <%= f.input :end_time, :order => [:month, :day, :year, :hour, :minute], :default => @event.date %>
        <%= f.submit nil, :class => 'btn btn-success' %>
    </fieldset>
  <% end %>
</div>





