<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#red" data-toggle="tab">Upcoming</a></li>
      <li><a href="#orange" data-toggle="tab">Past</a></li>
  </ul>
  <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="red">
	  <% if @shifts.upcoming.empty? %> No upcoming shifts
	  <% else %>
	  <table>
	    <thead><tr><td>Volunteer</td><td>Date</td><td>Start time</td><td>End time</td></tr></thead>
	  <% for shift in @shifts.upcoming %>
	    <tr>
	      <td><%=link_to shift.volunteer.proper_name, volunteer_path(shift.volunteer) %></td>
	      <td><%= shift.start_time.strftime("%b %d, %Y") %></td>
	      <td><%= shift.start_time.strftime("%I:%M %P") %></td>
	      <td><%= shift.end_time.strftime("%I:%M %P") %></td>
	    </tr>
	  <% end %>
	  </table><% end %>
      </div>
      <div class="tab-pane" id="orange">
	  <% if @shifts.past.empty? %> No past shifts
	  <% else %>
	  <table>
	    <thead><tr><td>Volunteer</td><td>Date</td><td>Start time</td><td>End time</td></tr></thead>
	  <% for shift in @shifts.past %>
	    <tr>
	      <td><%=link_to shift.volunteer.proper_name, volunteer_path(shift.volunteer) %></td>
	      <td><%= shift.start_time.strftime("%b %d, %Y") %></td>
	      <td><%= shift.start_time.strftime("%I:%M %P") %></td>
	      <td><%= shift.end_time.strftime("%I:%M %P") %></td>
	    </tr>
	  <% end %>
	  </table><% end %>
      </div>

  </div>
