<!-- if your role is an admin -->



<div class="metrouicss">
  <div class="tiles">
    <div class="tile-group">
      <div id="big-tile" class="tile bg-color-blueDark"><a href="statistics.html">
	<div class="tile-content"><h1>Statistics</h1>
	  <h3>Currently</h3>
	  <li><%= @alert_count %> alerts</li>
	  <h3>For the past week</h3>
	  <li>#75.3% student attendance</li>
	  <li>#1290 volunteer hours</li>
	  <li>New students - <%= @students.new_student.count %>, New volunteers - <%= @volunteers.new_volunteer.count %></li>
      </div></div>
      <div class="tile bg-color-greenDark"><a href="students.html">
	<div class="tile-content"><h1>Student</h1>
	  <li>#12 students with consecutive absences last week</li>
      </div></div>
      <div class="tile bg-color-pink"><a href="volunteers.html">
	<div class="tile-content"><h1>Volunteer</h1>
	  <li>#3 background checks expiring next week</li>
      </div></div>
      <div class="tile bg-color-yellow"><a href="events.html">
	<div class="tile-content"><h1>Event</h1>
	  <li><% if @events.current.empty? %> No events today
	  <% else %>Today - <%= @events.current.count %><% end %></li>
	  <li><% if @events.this_week.empty? %> No events next week
	  <% else %>This week - <%= @events.this_week.count %><% end %></li>
      </div></div>
      <div class="tile bg-color-red"><a href="programs.html">
	<div class="tile-content"><h1>Program</h1>
	  <li><% if @sections.maxed_out.empty? %> Sections are available
	  <% else %>Maxed out sections - <%= @sections.maxed_out.length %><% end %></li>
	  <li><% unless @sections.empty_sections.empty? %>
	    Empty sections - <%= @sections.empty_sections.length %><% end %></li>
	</div></div>
      <div class="tile bg-color-blue"><a href="households.html">
	<div class="tile-content"><h1>Household</h1>
	  <li><% if @households.missing_info.empty? %>
	    All is good<% else %>
	    Missing insurance info - <%= @households.missing_info.length %><% end %></li>
      </div></div>
      <div class="tile bg-color-greenLight"><a href="guardians.html">
	<div class="tile-content"><h1>Guardian</h1>
	  <h3>#All is good</h3>
      </div></div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(function() {
	   $('.phantom').hide();
	});
</script>

<div class="row-fluid">
  <div class="span8">
    <div class="upcoming_events">
      <%= render :partial => "./admin-partials/upcoming-events" %>
    </div>
    <div class="past_events">
      <%= render :partial => "./admin-partials/past-events" %>
    </div>
  </div>

  <div class="span4">
    <% unless @alerts.empty? %>
      <div class="well">
        <%= render :partial => "./admin-partials/issues" %>
        <% if @alert_count && @alert_count > 6 %>
          <%= link_to "Click for more alerts", alerts_path %>
        <% end %>
      </div>
    <% end %>
    <div class="well">
      <%= render :partial => "./admin-partials/quick-add" %>
    </div>
  </div>
</div>
