<!-- if your role is an admin -->

<div class="metrouicss">
  <div class="tiles">
    <div class="tile-group">
      <div class="dashboard">
      <div id="big-tile" class="tile">
	<div class="tile-content"><h2>Events</h2>
	  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		  <li class="active"><a href="#red" data-toggle="tab">Today</a></li>
		  <li><a href="#orange" data-toggle="tab">Past</a></li>
	      </ul>
	      <div id="my-tab-content" class="tab-content">
		  <div class="tab-pane active" id="red">
		      <% if @events.current.empty? %> 
		      <%= render :partial => "./admin-partials/upcoming-events" %>
		      <% else %><%= render :partial => "./admin-partials/upcoming-events" %><% end %>
		  </div>
		  <div class="tab-pane" id="orange">
		      <%= render :partial => "./admin-partials/past-events" %>
		  </div>

	      </div>
      </div></div>
      <div class="tile" id="visitor"><a href="students.html">
	<div class="tile-content"><h1>Visitors</h1>
	  <li>New visitors: <%= @visitors.new_visitor.count %></li>
	  <li><%= link_to "Add visitor", new_student_path %></li>
      </div></div>
      <div class="tile" id="student"><a href="students.html">
	<div class="tile-content"><h1>Student</h1>
	    <% for event in @events_last_week %>
	  	  <% unless Event.student_absentees(event.id).nil? %>
	   		 <% @absences_last_week = @absences_last_week + Event.student_absentees(event.id).size %>
	    	  <% end %>
 	    <% end %>
 	    <% if @absences_last_week==0 && @student_alerts==0 %>
	      All is good
	      <% else %>
		<% unless @absences_last_week ==0 %>
		  <li>Absences Last Week: <%= @absences_last_week %></li>
		<% end %>
		<% unless @student_alerts==0 %>
		  <li>Student Alerts: <%= @student_alerts %></li>
		<% end %>
	      <% end %>

      </div></div>
      <div class="tile" id="volunteer"><a href="volunteers.html">
	<div class="tile-content"><h1>Volunteer</h1>
	  <% if @pending_checks.empty? && @volunteer_alerts==0 && @expiring_checks.empty? %>
	    All is good
	    <% else %>
	      <% unless @pending_checks.empty? %>
		<li>Pending Checks: <%= @pending_checks.length %></li>
	      <% end %>
	      <% unless @volunteer_alerts==0 %>
		<li>Volunteer Alerts: <%= @volunteer_alerts %></li>
	      <% end %>
	      <% unless @expiring_checks.empty? %>
		<li>Expiring Checks: <%= @expiring_checks.length %></li>
	      <% end %>

	    <% end %>
      </div></div>
      <div class="tile" id="event"><a href="events.html">
	<div class="tile-content"><h1>Event</h1>
	  <li><% if @events.current.empty? %>
	    No events today
	  <% else %>
	    Today: <%= @events.current.count %>
	  <% end %></li>
	  <li><% if @events.this_week.empty? %> No events next week
	  <% else %>This week: <%= @events.this_week.count %><% end %></li>
	  <% unless @events.religious.empty? %> 
	  <li>Upcoming Religious Events: <%= @events.this_week.religious.count %></li><% end %>
	  <% unless @event_alerts==0 %>
	    <li>Event Alerts: <%= @event_alerts %></li>
	  <% end %>  
      </div></div>
      <div id="tall-tile" class="tile"><a href="statistics.html">
	<div class="tile-content"><h1>Statistics</h1>
	  <h3>For the past week</h3>

	    <% for event in @events_last_week %>
	  	  <% unless Event.student_attendees(event.id).nil? %>
	   		 <% @attendees_last_week = @attendees_last_week + Event.student_attendees(event.id).size %>
	    	  <% end %>
 	    <% end %>

	  <li>Attendees Last Week: <%= @attendees_last_week %></li>
	  <li>Absences Last Week: <%= @absences_last_week %></li>


	   <% unless @absences_last_week.zero? %>

	  <li>Student Attendance Percentage: <%= ((@attendees_last_week.to_f / (@absences_last_week + @attendees_last_week))*100).to_i %>%</li>	  
 	    <% end %>

	  <li>Events Last Week: <%= @events_last_week.length %></li>
	  <% for shift in @shifts %>
	    <% @hours = @hours + shift.hours %>
	    <% end %>
	  <li>Volunteer Hours : <%= @hours %></li>
	  <li>New Students : <%= @students.new_student.count %></li>
	  <li>New Volunteers : <%= @volunteers.new_volunteer.count %></li>
      </div></div>
      <div class="tile" id="program"><a href="sections">
	<div class="tile-content"><h1>Program Sections</h1>
	  <li><% if @sections.maxed_out.empty? %> Sections are available
	  <% else %>Maxed out sections: <%= @sections.maxed_out.length %><% end %></li>
	  <% unless @sections.empty_sections.empty? %><li>
	    Empty sections: <%= @sections.empty_sections.length %></li><% end %>
	</div></div>
      <div class="tile" id="household"><a href="households.html">
	<div class="tile-content"><h1>Household</h1>
	  <% if @households.missing_info.empty? %>
	    All is good
	  <% else %>
	    <li>Missing insurance info: <%= @households.missing_info.length %></li>
	  <% end %>
      </div></div>
      <div class="tile" id="guardian"><a href="guardians.html">
	<div class="tile-content"><h1>Guardian</h1>
	  All is good
      </div></div>
    </div>
  </div></div>
</div>



<script type="text/javascript">
  $(function() {
	   $('.phantom').hide();
	});
</script>
