<h1>Search Result</h1>
<h2>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h2>
<div class="row-fluid">
	<div class="span6">
		<!--student: name, phone, pic-->
		<p><em><strong><%= @student_hits %> students found.</strong></em></p>
		<% unless @students.empty? %>
		<ul class="no_bullet">
		<% for student in @students do %>
			<div class="well search_box">
				<div class="row">
					<div class="span2">
						<% if !student.avatar_file_name.blank? %>
        					<div><%= image_tag student.avatar.url(:medium), :size => "60x50", :border => 0 %></div>
        				<% elsif student.is_male %>
          					<div> <%= image_tag("male.jpg", :size => "60x50", :border => 0) %></div>&nbsp;&nbsp;
        				<% else %>  
          					<div> <%= image_tag("female.jpg", :size => "60x50", :border => 0) %></div>&nbsp;&nbsp;
        				<% end %>
      				</div>
      				<div class="span4">
						<li>Name: <%= link_to student.proper_name, student_path(student) %></li>
						<li>Cell: 
							<%= student.cell_phone.blank? ? "N/A" : number_to_phone(student.cell_phone) %>
             			</li>
					</div>
				</div>
			</div>
		<% end %>		
		</ul>
		<p class="smtext">&nbsp;</p>
		<% end %>
		<!--guardian: name, children-->
		<p><em><strong><%= @guardian_hits %> guardians found.</strong></em></p>
		<% unless @guardians.empty? %>
		<ul>
		<% for guardian in @guardians do %>
			<li>Name: <%= link_to guardian.proper_name, guardian_path(guardian) %></li>
			<li>&nbsp;&nbsp;&nbsp;Children: 
				<%= guardian.my_children.map(&:proper_name).join(',') %></li>
		<% end %>
		</ul>
		<% end %>
	</div>
	<div class="span6">
		<!--volunteers: name, phone-->
		<p><em><strong><%= @volunteer_hits %> volunteers found.</strong></em></p>
		<% unless @volunteers.empty? %>
		<ul class="no_bullet">
		<% for volunteer in @volunteers do %>
			<div class="well search_box">
				<div class="row">
					<div class="span2">
						<% if !volunteer.avatar_file_name.blank? %>
        					<div><%= image_tag volunteer.avatar.url(:medium), :size => "60x50", :border => 0 %></div>
        				<% elsif volunteer.is_male %>
          					<div> <%= image_tag("male.jpg", :size => "60x50", :border => 0) %></div>&nbsp;&nbsp;
        				<% else %>  
          					<div> <%= image_tag("female.jpg", :size => "60x50", :border => 0) %></div>&nbsp;&nbsp;
        				<% end %>
      				</div>
      				<div class="span4">
						<li>Name: <%= link_to volunteer.proper_name, volunteer_path(volunteer) %></li>
						<li>Cell: 
							<%= volunteer.cell_phone.blank? ? "N/A" : number_to_phone(volunteer.cell_phone) %>
             			</li>
					</div>
				</div>
			</div>
		<% end %>		
		</ul>
		<% end %>
	</div>
</div>