<h1>Search Result</h1>
<h2>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h2>
<div class="row-fluid">
	<div class="span6">
		<!--student: name, phone, pic-->
		<p><em><strong><%= @student_hits %> students found.</strong></em></p>
		<% unless @students.empty? %>
		<ul>
		<% for student in @students do %>
		<div class="well">
			<% if !@student.avatar_file_name.blank? %>
        		<div class="img-polaroid"><%= image_tag @student.avatar.url(:medium) %></div>
      		<% else %>
        		<% if @student.is_male %>
          			<div class="img-polaroid"> <%= image_tag("male.jpg") %></div>&nbsp;&nbsp;
        		<% else %>  
          		<div class="img-polaroid"> <%= image_tag("female.jpg") %></div>&nbsp;&nbsp;
        		<% end %>
      		<% end %>
			<li>Name: <%= link_to student.proper_name, student_path(student) %></li>
			<li>Cellphone: 
				<% if @student.cell_phone.blank? %>
              		N/A
              	<% else %>
              		<%= number_to_phone @student.cell_phone %>
              	<% end %>
             </li>
		</div>
		<% end %>
		</ul>
		<p class="smtext">&nbsp;</p>
		<% end %>
		<!--guardian: name, children-->
		<p><em><strong><%= @guardian_hits %> guardians found.</strong></em></p>
		<% unless @guardians.empty? %>
		<ul>
		<% for guardian in @guardians do %>
			<li>Name: <%= link_to guardian.proper_name, guardian_path(guardian) %></li>
			<li>&nbsp;&nbsp;&nbsp;Children: 
				<%= guardian.my_children.proper_name.join(',') %></li>
		<% end %>
		</ul>
		<% end %>
	</div>
	<div class="span6">
		<!--volunteers: name, phone-->
		<p><em><strong><%= @volunteer_hits %> volunteers found.</strong></em></p>
		<% unless @volunteers.empty? %>
		<ul>
		<% for volunteer in @volunteers do %>
		<div class="well">
			<% if !@volunteer.avatar_file_name.blank? %>
        		<div class="img-polaroid"><%= image_tag @volunteer.avatar.url(:medium) %></div>
      		<% else %>
        		<% if @volunteer.is_male %>
          			<div class="img-polaroid"> <%= image_tag("male.jpg") %></div>&nbsp;&nbsp;
        		<% else %>  
          		<div class="img-polaroid"> <%= image_tag("female.jpg") %></div>&nbsp;&nbsp;
        		<% end %>
      		<% end %>
			<li>Name: <%= link_to volunteer.proper_name, volunteer_path(volunteer) %></li>
			<li>Cellphone: 
				<% if @volunteer.cell_phone.blank? %>
              		N/A
              	<% else %>
              		<%= number_to_phone @volunteer.cell_phone %>
              	<% end %>
             </li>
        </div>
		<% end %>
		</ul>
		<% end %>
	</div>
</div>