<%# model_class = Event -%>

<h1>Event: <%= @event.program.name %> - <%= @event.date.strftime("%b %d, %Y") %></h1>

<div class="row-fluid">
  
  <div class="span6">
      <table>
        <tr>
          <td width="150"><strong>Date:</strong></td><td><%= @event.date.strftime("%b %d, %Y (%a)") %></td>
        </tr>
        <tr>
          <td><strong>Program:</strong></td><td><%= @event.program.name %></td>
        </tr>
        <tr>
          <td><strong>Sections:</strong></td><td><% @event.sections.each do |section|%><%= section.name%><p/><%end%></td>
        </tr>
        <tr>
          <td><strong>Start time:</strong></td><td><%= @event.start_time.strftime("%l:%M %p") %></td>
        </tr>
        <tr>
          <td><strong>End time:</strong></td><td><%= @event.end_time.strftime("%l:%M %p") %></td>
        </tr>
        <tr>
          <td><strong>Number of volunteers attending:</strong></td><td><%= @shifts.size %></td>
        </tr>
        <tr>
          <td><strong>Location:</strong></td><td><%= @event.location.name %></td>
        </tr>
        <tr>
          <td><strong>Meals served:</strong></td><td><%= @event.meals_served %></td>
        </tr>
        <tr>
          <td><strong>Gospel shared?</strong></td><td><%= @event.gospel_shared ? 'yes' : 'no' %></td>
        </tr>
        <tr>
          <td><strong>Bibles distributed:</strong></td><td><%= @event.bibles_distributed %></td>
        </tr>
        <tr>
          <td>
            <%= link_to raw("Barcodes ( PDF )"), event_path(@event.id, :format => 'pdf'), :class => 'btn btn-med'  %>
          </td>
          <td>
            <%= link_to raw("Back to events"), events_path, :class => 'btn btn-med'  %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to raw("Edit this event"), edit_event_path(@event), :class => 'btn btn-med' %>
          </td>
          <td>
            <%= link_to raw("Add meals"), meals_served_event_path(@event), :class => 'btn btn-med' %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to raw("Remove event"),event_path(@event),:method => 'delete',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to permanently destroy this event?')) },:class => 'btn btn-danger btn-med' %>
          </td>
        </tr>
      </table>
      
    <!-- add shifts functionality -->
    <%= render :partial => "partials/add_shifts", :locals => {:obj => @event} %>
    <!-- add notes functionality -->
    <%= render :partial => "partials/add_notes_to_page", :locals => {:obj => @event} %>
  </div>

  <% if @attendees.nil? && @absentees.nil? %>
    <p>Fix this error - some events created without section events fix Populate file</p>
  <% else %>
    <div class="span6">
      <%= render :partial => "attendees" %>
      <%= render :partial => "absentees" %>
      <%= render :partial => "volunteer_attendees" %>
      <%= render :partial => "volunteer_absentees" %>
    </div>
  <% end %>
  
</div>


