<%= simple_form_for(@shift) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class="field">
    <%= f.label :volunteer %><br />
    <%= f.collection_select :volunteer, Volunteer.all, :id, :name, :prompt => "Choose a Volunteer" %>  
  </div>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :shiftable_type %>
    <%= f.input :shiftable_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
