<%= simple_form_for @shift do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class="field">
    <%= f.input :volunteer_id %><br />  
  </div>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <% unless @klass.nil? || @klass_id.nil? %>
      <%= f.input :hidden_klass, :as => :hidden, :input_html => { :value => @klass } %>
      <%= f.input :hidden_id, :as => :hidden, :input_html => { :value => @klass_id } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), shifts_path, :class => 'btn' %>
  </div>
<% end %>

