
<% if @volunteer_checks.empty? %>
There are no volunteers with this check at this time.
<p><br>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Volunteer</th>
      <th>Date Submitted</th>
      <th>Date Completed</th>
      <th>Paid</th>
      <th>Approved</th>
    </tr>
  </thead>
  <tbody>
    <% @volunteer_checks.each do |volunteer_check| %>
      <tr>
				<td><%= link_to volunteer_check.volunteer.name, volunteer_check.volunteer %></td>
				<td>	<%= volunteer_check.date_submitted.strftime("%m/%d/%y") %> </td>
				<td>	<%= volunteer_check.date_completed.strftime("%m/%d/%y") %> </td>
				<td>	<%= volunteer_check.paid ? "Yes" : "No" %> </td>
				<td>	<%= volunteer_check.approved ? "Yes" : "No" %> </td>
      </tr>
    <% end %>
  </tbody>

</table>
<% end %>

<%= will_paginate @volunteer_checks, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

    <%= link_to raw("<i class='icon-plus'></i> <strong>Add Volunteer</strong>"), new_volunteer_check_path, :class => 'btn-small btn-success' %></br>
