
<% if @volunteer_checks.empty? %>
There are no volunteers with this check at this time.
<p><br>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Volunteer</th>
      <th>Date Submitted</th>
      <th>Date Completed</th>
      <th>Paid</th>
      <th>Approved</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <% @volunteer_checks.each do |volunteer_check| %>
      <tr>
				<td><%= link_to volunteer_check.volunteer.name, volunteer_check.volunteer %></td>
				<td>	<%= volunteer_check.date_submitted.strftime("%m/%d/%y") %> </td>
	<% if volunteer_check.date_completed.nil? %>
		<td>Pending</td>
  	<% else %>
				<td>	<%= volunteer_check.date_completed.strftime("%m/%d/%y") %> </td>

  	<% end %>
				<td>	<%= volunteer_check.paid ? "Yes" : "No" %> </td>
				<td>	<%= volunteer_check.approved ? "Yes" : "No" %> </td>

    <td> <%= link_to raw("<i class='icon-edit'></i>"),
                      edit_volunteer_check_path(volunteer_check, :check_id => volunteer_check.check.id), :class => 'btn btn-mini' %> 
	<%= link_to raw("<i class='icon-trash'></i>"), volunteer_check_path(volunteer_check), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn-small btn-danger' %></td>






      </tr>
    <% end %>
  </tbody>

</table>
<% end %>

<%= will_paginate @volunteer_checks, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

    <%= link_to raw("<i class='icon-plus'></i> <strong>Add Volunteer</strong>"), new_volunteer_check_path, :class => 'btn-small btn-success' %></br>
