    <%= link_to raw("<i class='icon-plus'></i> <strong>Add Check</strong>"), new_check_path, :class => 'btn btn-success pull-right' %>

<h1>Listing checks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration (in Months)</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="list">
    <% @checks.each do |check| %>
      <tr>
        <td><%= link_to check.name, check %></td>
        <td><%= check.duration %></td>
        <td>$<%= check.cost %></td>
        <td><%= link_to raw("<i class='icon-file'></i>"), new_note_path(:id => check.id, :source => 'check'), :class => 'btn btn-mini' %>
        &nbsp;<%= link_to raw("<i class='icon-pencil'></i>"),edit_check_path(check), :class => 'btn btn-mini' %></td>
  </tr>
<% end %>

  </tbody>

</table>

<br />

