<h1><%= @household.name %> Household</h1>

<div class="row-fluid">
  <div class="span5">
    <%= render :partial => "household_details" %>
    <%= render :partial => "partials/add_notes_to_page", :locals => {:obj => @household} %>
    <%= render :partial => "household_children" %>
    <%= render :partial => "household_guardians" %>
  </div>

  <div class="span7">
    <h4>Click on <d><%= @household.name %></d>'s Household Map for Details</h4>     
    <a href="https://maps.google.com/?q=<%=@household.to_s%>" target="_blank"><%= image_tag @household.create_map_link %></a>
    <%= render :partial => "household_controls" %>
  </div>
</div>

